@import "tailwindcss";


body{
  background: #ffffff;
  display: block;
  /* overflow: hidden; */
}



.circle-border-2{
  width: 220px;
  height: 220px;
  border-radius: 40% 45% 35% 41%;
  border: 1px solid #c80000;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: animo 8s linear infinite;
  /* transform:translate(-50%, -50%); */
}

.circle-border{
  width: 200px;
  height: 200px;
  border-radius: 40% 45% 43% 41%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: anim 8s linear infinite;
  /* transform:translate(-50%, -50%); */
}

@keyframes anim {
  0% {
    transform: rotate(0deg) ;
    border-radius: 40% 45% 42% 41%
  }
 
  100% {
    transform: rotate(360deg) ;
    border-radius:41% 45% 45% 40% ;
  }
  
}

@keyframes animo {
  0% {
    transform: rotate(0deg) ;
    border-radius: 41% 45% 39% 40%
  }
 
  100% {
    transform: rotate(360deg) ;
    border-radius:41% 45% 45% 40% ;
  }
  
}

.bg-soh{
  transform: scale(2);
}

.loader h1{
  font-size: clamp(20vw, 30vh, 40vw);
}




.text-clip {
  background: white;
  position: absolute;
  /* transform: translate(); */
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  z-index: 1;
  clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  
}

